#about{
    position:relative;
    background:url('../../assets/bgIMG.png');
    background-size:cover;
    background-repeat:repeat;
    background-position: center;
    
    .app__wrapper {
        padding: 0;

        .copyright {
            display: none;

        }
    }
}

.head-text {
    margin-top: 3rem;
}

.app__about {
    flex: 1;
    margin-top: 2rem;
    width: 100%;
    flex-direction: column;
}

.app__profiles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.app__profile-item {
    width: 190px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 2rem;

    img {
        width: 100%;
        height: 170px;
        border-radius: 15px;
        object-fit: cover;

    }

    @media screen and (min-width:2000px) {
        width: 100px;
        margin: 2rem 4rem;

        img {
            
            height: 320px;
        }
    }
}

.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about__me {
    width: 115%;
    aspect-ratio: 1/1;
    border-radius: 3rem;
    background: #8a724b;
    display: grid;
    place-items: center;
    margin-top: 4rem;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
}

.about__me-img {
    border-radius: 3rem;
    overflow: hidden;
    transform: rotate(10deg);
    
}

.about__me-img:hover {
    transform: rotate(0deg);
}

.about__content p {
    margin: 2rem 0 2.6rem;
    font-size: 1.4rem;
    color: var(--color-light);
}


button{
    color: #000;
    padding: 2.5%;
    margin-bottom:5%;
    background-color: #313bac;
    border-radius: 10px;
    cursor: pointer;
    border: transparent;
}
button:hover{
    background-color: #313bac;
}

button a{
    font-size: 1rem;
    text-decoration: none;
    color: #000;
}

@media screen and (max-width:1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }
    .about__me-img {
        transform: none;
        margin-top: 7rem;
    }
    .about__content p {
        margin-top: 7rem;
    }
}

@media screen and (max-width: 600px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }
    .about__me-img {
        
        transform: none;
        margin-top: 10rem;
    }
    .about__content p {
        margin-top: 10rem;
        place-items: center;
    }
}

